<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <img class="logoimg" src="./assets/images/logo-white.png" alt=""></img>
    <ul class="menulist"> 
      <li>系列鏡框</li>
      <li  class="ml-64">門市據點</li>
      <li  class="ml-64">部落格</li>
      <li  class="ml-64"><a href="qapage.html" rel="noopener noreferrer">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

  <footer class="footer">
   
    <div class="f-menu">
      <ul class="mlist">
        <li><a href="http://" target="_blank" rel="noopener noreferrer">首頁</a></li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">系列鏡框</a></li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">門市據點</a></li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">部落格</a></li>
        <li><a href="qapage.html" rel="noopener noreferrer">常見問題</a></li>

      </ul>
      <ul class="iconlist">
        <li><a href="http://"><img src="./assets/images/ic-social-fb.png" alt=""></a></li>
        <li><a href="http://"><img src="./assets/images/ic_social_ig.png" alt=""></a></li>
        <li><a href="http://"><img src="./assets/images/ic_social_line.png" alt=""></a></li>
      </ul>
    </div>
    <ul class="telmail">
      <li class="mb-8">
        <span class="material-symbols-outlined">call</span>
        <a href="tel:+886-800000000" >0800-000-000</a>
      </li>
      <li>
        <span class="material-symbols-outlined">mail</span>  
        <a href="glasses@business.com" >glasses@business.com</a>
      </li>
    </ul>


    <div class="under">
      <div class="copyright">Copyright © 2020 Glasses.All rights reserved.</div>
      <ul class="policy">
        <li>隱私權政策</li>
        <li>服務條款</li>
      </ul>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
