.container{
    display: flex;
    flex-direction: column;
    padding-left: 16.25%;
    padding-right: 16.25%;
    padding-top: 96px;
    padding-bottom: 80px;
    font-family: 'Noto Sans TC', sans-serif;
    h1{
      font-size: 48px;
      line-height: 72px;
      border-left: 8px solid #9F1213;
      padding-right: 16px;
      font-weight: 700;
  
    }
  
    h2{
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
  
    }
    li{
      h3{
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        margin-bottom: 8px;
  
      }
      p{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
  
      }
    }
  
  
  }
  