/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;500;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: 'Noto Sans TC', sans-serif;
  padding: 4px auto; }
  .header img {
    width: 80px;
    height: 72px;
    -o-object-fit: contain;
       object-fit: contain; }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header ul li a {
      display: block;
      font-size: 20px;
      line-height: 30px;
      text-decoration: none;
      color: #fff;
      padding-left: 64px; }
    .header ul li a:hover {
      color: #650300; }

@media (max-width: 992px) {
  header .container {
    padding-left: 36px;
    padding-right: 36px; } }

@media (max-width: 767px) {
  header .container {
    padding: 0;
    width: 100%; }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header ul {
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .header ul li {
        text-align: center;
        width: 50%;
        border: 1px solid #fff;
        padding-left: 62px;
        padding-right: 62px;
        padding-top: 12px;
        padding-bottom: 12px; }
        .header ul li a {
          padding: 0;
          font-size: 16px;
          line-height: 24px; } }

@media (max-width: 380px) {
  .header ul li {
    padding-left: 30px;
    padding-right: 30px; } }

.footer {
  color: #fff;
  font-family: 'Noto Sans TC', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer .f-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 48px; }
    .footer .f-menu .mlist {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .f-menu .mlist li {
        margin-right: 48px; }
        .footer .f-menu .mlist li a {
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          line-height: 24px; }
        .footer .f-menu .mlist li a:hover {
          color: #650300; }
    .footer .f-menu .telmail-2 {
      display: none; }
    .footer .f-menu .iconlist {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer .f-menu .iconlist li {
        margin-left: 32px; }
        .footer .f-menu .iconlist li img {
          width: 48px;
          height: 48px; }
  .footer .telmail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 32px; }
    .footer .telmail li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .telmail li span {
        font-size: 36px;
        margin-right: 22px; }
      .footer .telmail li a {
        text-decoration: none;
        color: #fff;
        font-size: 36px;
        line-height: 54px; }
      .footer .telmail li a:hover {
        color: #650300; }
  .footer .under {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #fff;
    padding: 32px 0; }
    .footer .under .copyright {
      font-size: 16px;
      line-height: 21px; }
    .footer .under .policy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer .under .policy li a {
        font-size: 14px;
        line-height: 21px;
        margin-right: 48px;
        text-decoration: none;
        color: #fff; }
      .footer .under .policy li a:hover {
        color: #650300; }

@media (max-width: 992px) {
  footer .container {
    padding-left: 36px;
    padding-right: 36px; }
  .footer .f-menu .iconlist li {
    margin-left: 16px; }
    .footer .f-menu .iconlist li img {
      width: 40px;
      height: 40px;
      -o-object-fit: contain;
         object-fit: contain; }
  .footer .under {
    padding-bottom: 40px; } }

@media (max-width: 767px) {
  footer .container {
    padding: 0 13px;
    width: 100%; }
  .footer .f-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 24px; }
    .footer .f-menu .mlist {
      display: none; }
    .footer .f-menu .telmail-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      color: #fff;
      margin-bottom: 24px; }
      .footer .f-menu .telmail-2 li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .f-menu .telmail-2 li span {
          font-size: 18px;
          margin-right: 22px; }
        .footer .f-menu .telmail-2 li a {
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          line-height: 24px; }
    .footer .f-menu .iconlist {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer .f-menu .iconlist li img {
        width: 24px;
        height: 24px;
        -o-object-fit: contain;
           object-fit: contain; }
  .footer .telmail {
    display: none; }
  .footer .under {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 16px; }
    .footer .under .copyright {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px; }
    .footer .under .policy {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      font-size: 16px;
      line-height: 24px; }
      .footer .under .policy li {
        margin-bottom: 8px; } }

.qazone .qacontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 48px;
  font-family: 'Noto Sans TC', sans-serif; }
  .qazone .qacontent h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 24px; }
  .qazone .qacontent li {
    margin-bottom: 32px; }
    .qazone .qacontent li h3 {
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 8px; }
    .qazone .qacontent li p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400; }

@media (max-width: 992px) {
  .qazone .container {
    padding-left: 36px;
    padding-right: 36px; } }

@media (max-width: 767px) {
  .qazone .container {
    padding-left: 13px;
    padding-right: 14px;
    width: 100%; }
  .qazone .qacontent {
    margin-bottom: 40px; }
    .qazone .qacontent h2 {
      margin-top: 24px; }
    .qazone .qacontent li {
      margin-bottom: 24px; } }

.blog-header {
  background: #650300;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.blog-header .bh-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 8px auto; }
  .blog-header .bh-menu .blog-header-zone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .blog-header .bh-menu .blog-header-zone li {
      margin-right: 48px; }
      .blog-header .bh-menu .blog-header-zone li a {
        font-size: 20px;
        line-height: 30px;
        text-decoration: none;
        font-weight: 700;
        color: #fff; }
      .blog-header .bh-menu .blog-header-zone li a:hover {
        color: #AA0601; }
  .blog-header .bh-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    width: 40px;
    height: 40px; }

.blogcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .blogcontent h1 {
    margin-bottom: 32px; }
  .blogcontent .bloglist {
    margin-bottom: 64px; }
    .blogcontent .bloglist li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 60px; }
      .blogcontent .bloglist li img {
        width: 636px;
        height: 400px;
        -o-object-fit: contain;
           object-fit: contain;
        margin-right: 24px; }
      .blogcontent .bloglist li .m-model {
        display: none; }

.blog-content .blog-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 400px; }
  .blog-content .blog-txt .blog-inform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 16px; }
  .blog-content .blog-txt .blog-inform .blog-title h2 {
    color: #650300;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px; }
  .blog-content .blog-txt .blog-inform .blog-title h3 {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px; }
  .blog-content .blog-txt .blog-inform h4 {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7; }
  .blog-content .blog-txt .b-world {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .blog-content .blog-txt .b-world p {
      font-size: 20px;
      line-height: 30px;
      color: #555555;
      font-weight: 400;
      text-align: left; }
      .blog-content .blog-txt .b-world p .onoff {
        display: none; }
    .blog-content .blog-txt .b-world a {
      font-size: 36px;
      line-height: 54px;
      color: #650300;
      font-weight: 900;
      text-align: right;
      text-decoration: none; }

.page-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px; }
  .page-change li {
    color: #555555; }
    .page-change li a {
      border: 1px solid #555555;
      display: block;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 16px;
      padding-right: 16px;
      font-size: 18px;
      line-height: 27px;
      text-decoration: none;
      color: #555555; }
    .page-change li a:hover {
      background: #000;
      color: #fff; }
    .page-change li .point-page {
      color: #FFFFFF;
      background-color: #000000; }
    .page-change li .last-page {
      padding: 11px 12px;
      font-size: 19px;
      line-height: 29px; }
    .page-change li .next-page {
      background-color: #F2F2F2;
      font-size: 19px;
      line-height: 29px;
      padding: 11px 12px; }
    .page-change li .normal-page {
      text-decoration: none; }

@media (max-width: 992px) {
  .blog-header .container {
    padding-left: 36px;
    padding-right: 36px; }
  .blog .container {
    padding-left: 36px;
    padding-right: 36px; }
  .blogcontent h1 {
    margin-bottom: 40px; }
  .blogcontent .bloglist {
    margin-bottom: 56px; }
    .blogcontent .bloglist li {
      margin-bottom: 24px; }
      .blogcontent .bloglist li img {
        width: 336px;
        height: 208px; }
  .blogcontent .blog-txt .blog-inform {
    margin-bottom: 4px; }
    .blogcontent .blog-txt .blog-inform .blog-title h2 {
      font-size: 24px;
      line-height: 36px; }
    .blogcontent .blog-txt .blog-inform .blog-title h3 {
      font-size: 16px;
      line-height: 24px; }
  .blogcontent .blog-txt .b-world p {
    font-size: 16px;
    line-height: 24px;
    color: #555555;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0; }
    .blogcontent .blog-txt .b-world p .offon {
      display: none; }
    .blogcontent .blog-txt .b-world p .onoff {
      display: inline; }
  .blogcontent .blog-txt .b-world a {
    display: none; }
  .page-change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px; }
    .page-change li {
      color: #555555; }
      .page-change li a {
        border: 1px solid #555555;
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 18px;
        line-height: 27px;
        text-decoration: none;
        color: #555555; }
      .page-change li a:hover {
        background: #000;
        color: #fff; }
      .page-change li .point-page {
        color: #FFFFFF;
        background-color: #000000; }
      .page-change li .last-page {
        padding: 11px 12px;
        font-size: 19px;
        line-height: 29px; }
      .page-change li .next-page {
        background-color: #F2F2F2;
        font-size: 19px;
        line-height: 29px;
        padding: 11px 12px; }
      .page-change li .normal-page {
        text-decoration: none; } }

@media (max-width: 767px) {
  .blog .container {
    padding-left: 13px;
    padding-right: 14px;
    width: 100%; }
  .blog-header {
    display: none; }
  .blogcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 348px; }
    .blogcontent h1 {
      margin-bottom: 24px; }
    .blogcontent .bloglist {
      margin-bottom: 40px; }
      .blogcontent .bloglist li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 24px; }
        .blogcontent .bloglist li img {
          width: 348px;
          height: 208px;
          -o-object-fit: contain;
             object-fit: contain;
          margin-right: 0px; }
  .blogcontent .blog-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
    .blogcontent .blog-txt .blog-inform {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      margin-bottom: 0px; }
      .blogcontent .blog-txt .blog-inform .blog-title h2 {
        font-size: 24px;
        line-height: 36px; }
      .blogcontent .blog-txt .blog-inform .blog-title h3 {
        font-size: 16px;
        line-height: 24px; }
      .blogcontent .blog-txt .blog-inform h4 {
        font-size: 16px;
        line-height: 24px; }
    .blogcontent .blog-txt .b-world {
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .blogcontent .blog-txt .b-world p {
        font-size: 20px;
        line-height: 30px;
        color: #555555;
        font-weight: 400;
        text-align: left;
        margin-bottom: 102px; }
        .blogcontent .blog-txt .b-world p .onoff {
          display: none; }
      .blogcontent .blog-txt .b-world a {
        font-size: 36px;
        line-height: 54px;
        color: #650300;
        font-weight: 900;
        text-align: right;
        text-decoration: none; }
  .page-change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 64px; }
    .page-change li {
      color: #555555; }
      .page-change li a {
        border: 1px solid #555555;
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        color: #555555; }
      .page-change li a:hover {
        background: #000;
        color: #fff; }
      .page-change li .point-page {
        color: #FFFFFF;
        background-color: #000000; }
      .page-change li .last-page {
        padding-left: 14px;
        padding-right: 13px;
        padding-bottom: 12px;
        font-size: 16px;
        line-height: 26px; }
      .page-change li .next-page {
        background-color: #F2F2F2;
        font-size: 16px;
        line-height: 26px;
        padding-left: 13px;
        padding-right: 14px;
        padding-bottom: 12px; }
      .page-change li .normal-page {
        text-decoration: none; } }

img {
  max-width: 100%;
  height: auto;
  vertial-align: middle; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto','Noto Sans TC', sans-serif; }

header, footer {
  background-color: #AA0601; }

.mb-8 {
  margin-bottom: 8px; }

.mt-32 {
  margin-top: 32px; }

.mt-24 {
  margin-top: 24px; }

.ml-64 {
  margin-left: 64px; }

.pr-32 {
  padding-right: -32px; }

.container {
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto; }

.big-title {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 48px;
  line-height: 72px;
  border-left: 8px solid #9F1213;
  padding-left: 16px;
  font-weight: 700;
  margin-top: 96px; }

@media (max-width: 992px) {
  .big-title {
    margin-top: 80px; } }

@media (max-width: 767px) {
  .big-title {
    margin-top: 40px;
    font-size: 24px;
    line-height: 36px; } }

/*# sourceMappingURL=all.css.map */
